Repository hmcts/send-letter-service, pull requests merged in 2019-10, with the labels that each got.

#562 Don't read blob data when fetching pending letters from DB
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/PendingLetterSearchTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/BasicLetterInfo.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepository.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/PendingLettersService.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/PendingLettersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/StaleLetterControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/PendingLettersServiceTest.java
Labels: ns:rpe-send-letter-service-pr-562

#566 Read one letter from db at a time
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepository.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTask.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
Labels: ns:rpe-send-letter-service-pr-566

#569 Update owasp suppressions
  config/owasp/suppressions.xml
Labels: ns:rpe-send-letter-service-pr-569

#573 Handle letter with number of document copies specified
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/PdfCreatorTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/Doc.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/pdf/PdfCreator.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/PdfCreatorTest.java
Labels: ns:rpe-send-letter-service-pr-573

#576 Add new letter request format
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/Doc.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/LetterWithPdfsAndNumberOfCopiesRequest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterService.java
  src/test/java/uk/gov/hmcts/reform/sendletter/SampleData.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
Labels: ns:rpe-send-letter-service-pr-576

#577 use new base 1.4 java image to use default encoding utf-8
  Dockerfile
Labels: ns:rpe-send-letter-service-pr-577

#578 Add endpoint for sending letters with document count
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageWithDocumentCountTest.java
  src/functionalTest/resources/letter-with-document-count.json
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/MediaTypes.java
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterController.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/Doc.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/LetterWithPdfsAndNumberOfCopiesRequest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/SendLetterWithPdfsAndCopiesControllerTest.java
  src/test/resources/controller/letter/v3/invalid_copies.json
  src/test/resources/controller/letter/v3/valid_letter.json
Labels: ns:rpe-send-letter-service-pr-578

#580 Added jackson databind suppression
  config/owasp/suppressions.xml
Labels: ns:rpe-send-letter-service-pr-580

#581 Assign managed identity object IDs to Key Vaults
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:rpe-send-letter-service-pr-581

#582 add APP-INSTRUMENTATION-KEY to vault
  infrastructure/main.tf
Labels: ns:rpe-send-letter-service-pr-582

#587 Added new mandatory field in preparation for helm 3
  charts/rpe-send-letter-service/Chart.yaml
Labels: ns:rpe-send-letter-service-pr-587

#583 add aks config - chart config
  Jenkinsfile_CNP
  charts/rpe-send-letter-service/Chart.yaml
  charts/rpe-send-letter-service/requirements.yaml
  charts/rpe-send-letter-service/values.aat.template.yaml
  charts/rpe-send-letter-service/values.preview.template.yaml
  charts/rpe-send-letter-service/values.yaml
  src/functionalTest/resources/application.properties
  src/main/resources/bootstrap.yaml
Labels: ns:rpe-send-letter-service-pr-583

#588 revert jenkins cnp changes
  Jenkinsfile_CNP
  src/functionalTest/resources/application.properties
Labels: ns:rpe-send-letter-service-pr-588

#590 move env after akschartsinstall
  Jenkinsfile_CNP
Labels: ns:rpe-send-letter-service-pr-590

#591 Optimise adding blank pages
  src/main/java/uk/gov/hmcts/reform/sendletter/services/pdf/PdfCreator.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/PdfCreatorTest.java
Labels: ns:rpe-send-letter-service-pr-591

#592 Add extra test
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/SendLetterWithPdfsAndCopiesControllerTest.java
Labels: ns:rpe-send-letter-service-pr-592

#593 Update swagger spec
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/ControllerResponseMessage.java
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterController.java
Labels: ns:rpe-send-letter-service-pr-593

#589 enable AKS for staging
  Jenkinsfile_CNP
Labels: ns:rpe-send-letter-service-pr-589

#594 Updated image name as it was incorrect
  charts/rpe-send-letter-service/values.yaml
Labels: ns:rpe-send-letter-service-pr-594

#595 Bumped chart version as image name was updated earlier
  charts/rpe-send-letter-service/Chart.yaml
Labels: ns:rpe-send-letter-service-pr-595

#596 disable ENCRYPTION
  charts/rpe-send-letter-service/values.aat.template.yaml
Labels: ns:rpe-send-letter-service-pr-596

#597 enable encryption
  Jenkinsfile_CNP
  charts/rpe-send-letter-service/values.aat.template.yaml
  charts/rpe-send-letter-service/values.preview.template.yaml
Labels: ns:rpe-send-letter-service-pr-597

#599 disable Legacy Deployment On AAT
  Jenkinsfile_CNP
Labels: ns:rpe-send-letter-service-pr-599
