Repository hmcts/send-letter-service, pull requests merged in 2019-05, with the labels that each got.

#384 Create a method in letter repository to find stale letters
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/StaleLetterSearchTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepository.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterStatus.java
  src/test/java/uk/gov/hmcts/reform/sendletter/SampleData.java
Labels: ns:rpe-send-letter-service-pr-384

#377 Update use of ftp upload task
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/FtpUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/DeleteOldFilesTaskTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ftp/FtpClient.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTask.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/FtpClientTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
Labels: ns:rpe-send-letter-service-pr-377

#381 Update AppInsights dependency types
  lib/AI-Agent.xml
  src/main/java/uk/gov/hmcts/reform/sendletter/logging/AppInsights.java
  src/test/java/uk/gov/hmcts/reform/sendletter/logging/AppInsightsTest.java
Labels: ns:rpe-send-letter-service-pr-381

#389 Fix class type attribute used in agent instrumentation
  lib/AI-Agent.xml
Labels: ns:rpe-send-letter-service-pr-389

#390 Remove reference to bulk scan remote state
  infrastructure/is_down_alert.tf
  infrastructure/state.tf
Labels: ns:rpe-send-letter-service-pr-390

#387 Add service layer for the letters count report
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ReportsService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ZeroRowFiller.java
  src/main/java/uk/gov/hmcts/reform/sendletter/util/TimeZones.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/ReportsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/ZeroRowFillerTest.java
Labels: ns:rpe-send-letter-service-pr-387

#391 Add code to calculate date that was X weekdays ago
  src/main/java/uk/gov/hmcts/reform/sendletter/services/date/DateCalculator.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/date/DateCalculatorTest.java
Labels: ns:rpe-send-letter-service-pr-391

#392 Return letters count summary report in csv format
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/sendletter/exception/CsvReportGenerationException.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/reports/LettersCountSummaryItem.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/reports/LettersCountSummaryResponse.java
  src/main/java/uk/gov/hmcts/reform/sendletter/util/CsvWriter.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/ReportsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/util/CsvWriterTest.java
Labels: ns:rpe-send-letter-service-pr-392

#393 Use UTC timezone
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/LettersCountSummaryRepositoryTest.java
Labels: ns:rpe-send-letter-service-pr-393

#394 Add email sending feature
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/reports/EmailSenderDisabledTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/reports/Attachment.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/reports/EmailSender.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sendletter/jupiter/GreenMailExtension.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/reports/EmailSenderTest.java
Labels: ns:rpe-send-letter-service-pr-394

#396 Introduce daily report for summary of uploaded letters
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DailyLetterUploadSummaryReportDisabledTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DailyLetterUploadSummaryReport.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DailyLetterUploadSummaryReportTest.java
Labels: ns:rpe-send-letter-service-pr-396

#397 Create a service for retrieving stale letters
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/sendletter/config/TimeConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/StaleLetter.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/StaleLetterService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/util/TimeZones.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sendletter/services/StaleLetterServiceTest.java
Labels: ns:rpe-send-letter-service-pr-397

#402 Update report by shortcutting execution
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DailyLetterUploadSummaryReport.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DailyLetterUploadSummaryReportTest.java
Labels: ns:rpe-send-letter-service-pr-402

#400 Create an endpoint for retrieving stale letters
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/StaleLetterController.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/StaleLetterResponse.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/StaleLetterControllerTest.java
  src/test/resources/controller/stale-letters/stale-letters-response.json
Labels: ns:rpe-send-letter-service-pr-400

#401 Add client for holidays api
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sendletter/services/date/holidays/BankHolidaysClient.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/date/holidays/response/Event.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/date/holidays/response/Holidays.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/date/holidays/BankHolidaysClientTest.java
Labels: ns:rpe-send-letter-service-pr-401

#403 Remove jUnit4 (again)
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:rpe-send-letter-service-pr-403

#388 Feature: skipped letter
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterStatus.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTask.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
Labels: ns:rpe-send-letter-service-pr-388

#404 Include bank holidays in business days calculator
  src/main/java/uk/gov/hmcts/reform/sendletter/services/date/DateCalculator.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/date/holidays/BankHolidaysClient.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/date/DateCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/date/holidays/BankHolidaysClientTest.java
Labels: ns:rpe-send-letter-service-pr-404

#395 update envelope count summary repository to return stream
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/LettersCountSummaryRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LettersCountSummaryRepository.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ReportsService.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/ReportsServiceTest.java
Labels: ns:rpe-send-letter-service-pr-395

#407 Move the letter -> stale letter mapping to the controller
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/StaleLetterController.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/StaleLetterService.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/StaleLetterControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/StaleLetterServiceTest.java
  src/test/resources/controller/stale-letters/stale-letters-response.json
Labels: ns:rpe-send-letter-service-pr-407

#408 Added reports service config to map db service name to display name on reports
  src/main/java/uk/gov/hmcts/reform/sendletter/config/ReportsServiceConfig.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/LettersCountSummary.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ReportsService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ZeroRowFiller.java
  src/main/java/uk/gov/hmcts/reform/sendletter/util/CsvWriter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sendletter/services/ReportsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/ZeroRowFillerTest.java
Labels: ns:rpe-send-letter-service-pr-408

#409 Service display name cleanup
  src/main/java/uk/gov/hmcts/reform/sendletter/config/ReportsServiceConfig.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ReportsService.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/ReportsServiceTest.java
Labels: ns:rpe-send-letter-service-pr-409

#410 Cleanup reports endpoint service
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/controllers/LettersCountReportTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/LettersCountSummaryRepositoryTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/sendletter/config/ReportsServiceConfig.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LettersCountSummaryRepository.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ReportsService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ZeroRowFiller.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/ReportsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/ZeroRowFillerTest.java
Labels: ns:rpe-send-letter-service-pr-410

#412 Retrieve stale letters as a list, not a stream
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/StaleLetterSearchTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/StaleLetterController.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepository.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/StaleLetterService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/StaleLettersTask.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/StaleLetterControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/StaleLetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/StaleLettersTaskTest.java
Labels: ns:rpe-send-letter-service-pr-412

#385 Update AppInsights scheduler tracking
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/e2e/BaseTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/config/AspectConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sendletter/config/SchedulerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sendletter/config/ThreadPoolConfig.java
Labels: ns:rpe-send-letter-service-pr-385

#413 Ensure proper formatting of ZonedDateTime fields
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/LetterStatus.java
Labels: ns:rpe-send-letter-service-pr-413

#415 Extend lock duration for reporting job
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DailyLetterUploadSummaryReport.java
Labels: ns:rpe-send-letter-service-pr-415

#417 Log warning when stale letters are found by the scheduled job
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/StaleLettersTask.java
Labels: ns:rpe-send-letter-service-pr-417

#416 Reporting job logging cleanup
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DailyLetterUploadSummaryReport.java
Labels: ns:rpe-send-letter-service-pr-416

#406 Convert delete functionality to single connection base
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ftp/FtpClient.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/DeleteOldFilesTask.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/DeleteOldFilesTaskTest.java
Labels: ns:rpe-send-letter-service-pr-406

#418 Remove `hasFailed` field from stale letter model
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/StaleLetterController.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/StaleLetter.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/StaleLetterControllerTest.java
  src/test/resources/controller/stale-letters/stale-letters-response.json
Labels: ns:rpe-send-letter-service-pr-418

#419 Bean-up `TaskScheduler` to avoid separation among instances
  src/main/java/uk/gov/hmcts/reform/sendletter/config/ThreadPoolConfig.java
Labels: ns:rpe-send-letter-service-pr-419

#423 Update schedule duration calculation
  src/main/java/uk/gov/hmcts/reform/sendletter/config/AspectConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sendletter/config/ThreadPoolConfig.java
  src/main/java/uk/gov/hmcts/reform/sendletter/util/TimeZones.java
Labels: ns:rpe-send-letter-service-pr-423

#425 Bump shedlock library 2.4.0 -> 2.5.0
  build.gradle
Labels: ns:rpe-send-letter-service-pr-425

#427 upgrade java chart
  charts/rpe-send-letter-service/requirements.yaml
Labels: ns:rpe-send-letter-service-pr-427

#428 bump chart version
  charts/rpe-send-letter-service/Chart.yaml
Labels: ns:rpe-send-letter-service-pr-428

#430 Simplify repo method
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepository.java
Labels: ns:rpe-send-letter-service-pr-430

#429 Add endpoint for listing letters pending upload
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/PendingLettersController.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/PendingLetter.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/PendingLettersResponse.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/PendingLettersService.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/PendingLettersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/PendingLettersServiceTest.java
Labels: ns:rpe-send-letter-service-pr-429

#431 Close open pdf document left behind (fun tests)
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageTestForPdfEndpoint.java
Labels: ns:rpe-send-letter-service-pr-431

#432 Fix/timeout upload corruption
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ftp/FtpClient.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/FtpClientTest.java
Labels: ns:rpe-send-letter-service-pr-432

#433 Feature: custom health type telemetry processor
  src/main/java/uk/gov/hmcts/reform/sendletter/config/TracingConfiguration.java
Labels: ns:rpe-send-letter-service-pr-433

#435 Bump jackson-databind 2.9.8 -> 2.9.9
  build.gradle
Labels: ns:rpe-send-letter-service-pr-435

#422 Bps 609 stale letter alert
  infrastructure/stale-letter-alert.tf
Labels: ns:rpe-send-letter-service-pr-422

#439 Remove contents after reported as printed
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/MarkLettersPostedTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/MarkLettersPostedTask.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTask.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/MarkLettersPostedTest.java
Labels: ns:rpe-send-letter-service-pr-439

#437 Move aspect to AppInsights component
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/e2e/BaseTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/config/AspectConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sendletter/logging/AppInsights.java
Labels: ns:rpe-send-letter-service-pr-437

#438 Add cleanup cron variable to infra config
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:rpe-send-letter-service-pr-438
