Repository hmcts/send-letter-service, pull requests merged in 2019-03, with the labels that each got.

#319 Update suppressed group dependencies
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rpe-send-letter-service-pr-319

#323 Add saat tfvars for saat deployment
  infrastructure/saat.tfvars
Labels: ns:rpe-send-letter-service-pr-323

#324 Add sprod.tfvars for sprod deployment
  infrastructure/sprod.tfvars
Labels: ns:rpe-send-letter-service-pr-324

#325 Helm chart initial release
  Jenkinsfile_CNP
  build.gradle
  charts/rpe-send-letter-service/Chart.yaml
  charts/rpe-send-letter-service/requirements.yaml
  charts/rpe-send-letter-service/values.template.yaml
  kubernetes/deployment.template.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rpe-send-letter-service-pr-325

#327 Derive ase name from core compute environment
  infrastructure/main.tf
Labels: ns:rpe-send-letter-service-pr-327

#331 disable persistent storage in Helm chart
  charts/rpe-send-letter-service/values.template.yaml
Labels: ns:rpe-send-letter-service-pr-331

#334 Add service for deleting old files
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/DeleteOldFilesTaskTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ftp/FileInfo.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ftp/FtpClient.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ftp/ServiceFolderMapping.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/DeleteOldFilesTask.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/DeleteOldFilesTaskTest.java
Labels: ns:rpe-send-letter-service-pr-334

#335 Clean up old files on AAT periodically
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/DeleteOldFilesTask.java
  src/main/resources/application.yaml
Labels: ns:rpe-send-letter-service-pr-335

#336 Update README
  .travis.yml
  README.md
  docker/database/Dockerfile
  docker/database/init-db.sh
  docker/env.list
Labels: ns:rpe-send-letter-service-pr-336

#337 Changing DB passwords mapping to be able to deploy in flux
  charts/rpe-send-letter-service/Chart.yaml
  charts/rpe-send-letter-service/values.template.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rpe-send-letter-service-pr-337

#338 Update the rest of dependencies
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/main/java/uk/gov/hmcts/reform/sendletter/Application.java
  src/main/java/uk/gov/hmcts/reform/sendletter/config/SchedulerConfiguration.java
Labels: ns:rpe-send-letter-service-pr-338

#339 Making postgres optional
  charts/rpe-send-letter-service/Chart.yaml
  charts/rpe-send-letter-service/requirements.yaml
  charts/rpe-send-letter-service/values.template.yaml
Labels: ns:rpe-send-letter-service-pr-339

#340 Update checks
  build.gradle
  config/checkstyle/checkstyle.xml
  config/pmd/ruleset.xml
Labels: ns:rpe-send-letter-service-pr-340

#341 Increase max document count
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/LetterRequest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/LetterWithPdfsRequest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/SendLetterControllerTest.java
  src/test/resources/controller/letter/v1/letter-with-multiple-docs.json
Labels: ns:rpe-send-letter-service-pr-341

#342 Pass common_tags to key-vault module
  infrastructure/main.tf
Labels: ns:rpe-send-letter-service-pr-342

#343 Update provider version to 1.23.0
  infrastructure/main.tf
Labels: ns:rpe-send-letter-service-pr-343

#346 Upgrade gradle to latest (5.3)
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:rpe-send-letter-service-pr-346

#348 Feature: JUnit5-up unit tests
  build.gradle
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/rootcontroller/GetWelcomeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/GetLetterStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/SendLetterControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/SendLetterWithPdfsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/data/migration/DbMigrationFilesTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/data/migration/FlywayNoOpStrategyTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/logging/AppInsightsTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/AuthServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/DuplexPreparatorTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/FileNameHelperTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/FtpAvailabilityCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/FtpClientTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/LetterChecksumGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/PdfCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/PdfMergerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/ReportParserTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/encryption/PgpEncryptionUtilTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/zip/FinalPackageFileNameHelperTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/zip/ZipperTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/DeleteOldFilesTaskTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/MarkLettersPostedTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
Labels: ns:rpe-send-letter-service-pr-348

#349 Feature: JUnit5-up integration tests
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/ApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/controllers/GetLetterStatusTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/controllers/InfoTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterWithPdfTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/e2e/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/e2e/EndToEndTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/e2e/EndToEndWithEncryptionEnabledTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/LetterTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/FtpUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceWithEncryptionEnabledTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/PdfCreatorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/DeleteOldFilesTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/MarkLettersPostedTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/StaleLettersTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
Labels: ns:rpe-send-letter-service-pr-349

#351 Fix OWASP vulnerabilities
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rpe-send-letter-service-pr-351

#350 Feature: JUnit5-up functional and smoke tests
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/FunctionalTestSuite.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageTestForPdfEndpoint.java
  src/smokeTest/java/uk/gov/hmcts/reform/sendletter/controllers/CreateLetterSmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/sendletter/controllers/SmokeTestSuite.java
  src/smokeTest/java/uk/gov/hmcts/reform/sendletter/controllers/UnauthorisedSmokeTest.java
Labels: ns:rpe-send-letter-service-pr-350
