Repository hmcts/send-letter-service, pull requests merged in 2019-01, with the labels that each got.

#289 Feature: AKS builds
  Jenkinsfile_CNP
  kubernetes/deployment.template.yaml
  src/test/java/uk/gov/hmcts/reform/sendletter/services/PdfMergerTest.java
Labels: ns:rpe-send-letter-service-pr-289

#291 Update dependency check suppressions
  config/owasp/suppressions.xml
Labels: ns:rpe-send-letter-service-pr-291

#295 Rename message_id to checksum: step 3
  src/main/resources/db/migration/V012__Copy_messageId_to_checksum.sql
Labels: ns:rpe-send-letter-service-pr-295

#297 Rename message_id to checksum: Step 4
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/controllers/GetLetterStatusTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepository.java
  src/main/java/uk/gov/hmcts/reform/sendletter/logging/AppInsights.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTask.java
  src/main/resources/db/migration/V013__Make_message_id_nullable.sql
  src/test/java/uk/gov/hmcts/reform/sendletter/logging/AppInsightsTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
Labels: ns:rpe-send-letter-service-pr-297

#298 Rename message_id to checksum: Step 5
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/LetterTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/Letter.java
Labels: DO NOT MERGE, ns:rpe-send-letter-service-pr-298

#299 Remove message_id column
  src/main/resources/db/migration/V014__Remove_message_id_column.sql
Labels: ns:rpe-send-letter-service-pr-299

#300 Add checksum to letter status response
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/controllers/GetLetterStatusTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/LetterStatus.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/GetLetterStatusControllerTest.java
Labels: ns:rpe-send-letter-service-pr-300
