Repository hmcts/send-letter-service, pull requests merged in 2019-02, with the labels that each got.

#303 Remove printing vendor name from code
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/e2e/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/LocalSftpServer.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/MarkLettersPostedTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/util/CsvReportWriter.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/LetterRequest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/LetterWithPdfsRequest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/MarkLettersPostedTask.java
Labels: ns:rpe-send-letter-service-pr-303

#306 Replace `Timestamp`s with `LocalDateTime`s
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/controllers/GetLetterStatusTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/StaleLettersTaskTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/Letter.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepository.java
  src/main/java/uk/gov/hmcts/reform/sendletter/logging/AppInsights.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/util/FinalPackageFileNameHelper.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/MarkLettersPostedTask.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/StaleLettersTask.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTask.java
  src/test/java/uk/gov/hmcts/reform/sendletter/SampleData.java
  src/test/java/uk/gov/hmcts/reform/sendletter/logging/AppInsightsTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/zip/FinalPackageFileNameHelperTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
Labels: ns:rpe-send-letter-service-pr-306

#314 Use previous page size for extra blank page
  src/main/java/uk/gov/hmcts/reform/sendletter/services/pdf/DuplexPreparator.java
Labels: ns:rpe-send-letter-service-pr-314

#315 Update docker file source image
  Dockerfile
Labels: ns:rpe-send-letter-service-pr-315

#317 Update alert with BSP shared infra and latest module changes
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  infrastructure/is_down_alert.tf
  infrastructure/is_down_alert_action_group.tf
  infrastructure/state.tf
Labels: ns:rpe-send-letter-service-pr-317

#316 Update spring boot related dependencies
  build.gradle
  config/owasp/suppressions.xml
  src/main/resources/application.yaml
Labels: ns:rpe-send-letter-service-pr-316
