Repository hmcts/send-letter-service, pull requests merged in 2019-06, with the labels that each got.

#440 Fix jackson2 (Local|Zoned)DateTime serialization
  build.gradle
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/sendletter/config/TimeConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/LetterStatus.java
Labels: ns:rpe-send-letter-service-pr-440

#436 Replace direct tracking with AOP
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/e2e/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/helper/FtpHelper.java
  src/main/java/uk/gov/hmcts/reform/sendletter/logging/AppDependency.java
  src/main/java/uk/gov/hmcts/reform/sendletter/logging/AppDependencyCommand.java
  src/main/java/uk/gov/hmcts/reform/sendletter/logging/AppInsights.java
  src/main/java/uk/gov/hmcts/reform/sendletter/logging/Dependency.java
  src/main/java/uk/gov/hmcts/reform/sendletter/logging/DependencyCommand.java
  src/main/java/uk/gov/hmcts/reform/sendletter/logging/DependencyName.java
  src/main/java/uk/gov/hmcts/reform/sendletter/logging/DependencyType.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ftp/FtpClient.java
  src/test/java/uk/gov/hmcts/reform/sendletter/logging/AppInsightsTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/FtpClientTest.java
Labels: ns:rpe-send-letter-service-pr-436

#443 Updated finger print as supplier has updated server
  Jenkinsfile_CNP
  charts/rpe-send-letter-service/values.template.yaml
  infrastructure/variables.tf
Labels: ns:rpe-send-letter-service-pr-443

#451 Extract duplicated test code into existing test suite
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/FunctionalTestSuite.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageTestForPdfEndpoint.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ftp/FtpClient.java
Labels: ns:rpe-send-letter-service-pr-451

#448 Fix invalid log message
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ftp/FtpClient.java
Labels: ns:rpe-send-letter-service-pr-448

#454 Load 3 letters to download at a time instead of 10
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepository.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTask.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
Labels: ns:rpe-send-letter-service-pr-454

#455 Don't load file content for stale letters
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/StaleLetterSearchTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/StaleLetterController.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/BasicLetterInfo.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepository.java
  src/main/java/uk/gov/hmcts/reform/sendletter/logging/AppInsights.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/StaleLetterService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/StaleLettersTask.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/StaleLetterControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/logging/AppInsightsTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/StaleLetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/StaleLettersTaskTest.java
Labels: ns:rpe-send-letter-service-pr-455

#456 Log more information in FtpClient
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ftp/FtpClient.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/MarkLettersPostedTask.java
Labels: ns:rpe-send-letter-service-pr-456

#457 Add more logging for 'delete old files' job
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/DeleteOldFilesTask.java
Labels: ns:rpe-send-letter-service-pr-457

#458 Change FTP file cleanup cron, so that it runs every hour
  infrastructure/variables.tf
  src/main/resources/application.yaml
Labels: ns:rpe-send-letter-service-pr-458

#460 Don't pull file content from db for stale letters model
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/BasicLetterInfo.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepository.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/StaleLetterControllerTest.java
Labels: ns:rpe-send-letter-service-pr-460

#465 Mark letters as posted every hour
  infrastructure/variables.tf
  src/main/resources/application.yaml
Labels: ns:rpe-send-letter-service-pr-465

#468 Fix date formatting in tests
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/controllers/GetLetterStatusTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/config/TimeConfiguration.java
Labels: ns:rpe-send-letter-service-pr-468

#469 Remove unneeded field from letter service
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterService.java
Labels: ns:rpe-send-letter-service-pr-469

#470 Store fingerprint of key used to encrypt letter
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceWithEncryptionEnabledTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/Letter.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterService.java
  src/main/resources/db/migration/V015__Add_key_fingerprint_column.sql
  src/test/java/uk/gov/hmcts/reform/sendletter/SampleData.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/zip/FinalPackageFileNameHelperTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
Labels: ns:rpe-send-letter-service-pr-470

#471 Include key fingerprint in pending letters response
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/PendingLettersController.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/PendingLetter.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/PendingLettersControllerTest.java
Labels: ns:rpe-send-letter-service-pr-471
