Repository hmcts/send-letter-service, pull requests merged in 2020-12, with the labels that each got.

#915 Remove unused pg9.6 RPE dbs
  infrastructure/main.tf
  infrastructure/output.tf
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-915

#917 DTSBPS-43: Report letters for last one week that took more than 48 hr…
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/DelayPostSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/PendingLetterSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/StaleLetterSearchTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepository.java
  src/main/java/uk/gov/hmcts/reform/sendletter/logging/AppInsights.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/DelayedPrintService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/PendingLettersService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/StaleLetterService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/alerts/PendingLettersTask.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DelayAndStaleReport.java
  src/main/java/uk/gov/hmcts/reform/sendletter/util/CsvWriter.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/sendletter/services/DelayedPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/PendingLettersServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/ReportsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/StaleLetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/alerts/PendingLettersTaskTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DelayAndStaleReportTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/util/CsvWriterTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-917

#921 DTSBPS-43: Added transational annotation
  src/main/java/uk/gov/hmcts/reform/sendletter/services/DelayedPrintService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/StaleLetterService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/alerts/PendingLettersTask.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-921

#920 Ta 199 pact provider test probate
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterProviderConfiguration.java
  src/contractTest/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterProviderTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-920

#930 Fix for nightly build failure
  config/owasp/suppressions.xml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-930

#933 use syncBranchesWithMaster
  Jenkinsfile_CNP
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-933

#934 DTSBPS-43: Added missed delayed-stale-report-recipients to value.yaml…
  charts/rpe-send-letter-service/Chart.yaml
  charts/rpe-send-letter-service/values.yaml
  src/main/resources/application.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-934
