Repository hmcts/send-letter-service, pull requests merged in 2020-04, with the labels that each got.

#680 add folder name - FPLA onboarding
  src/main/resources/application.yaml
Labels: ns:rpe, rel:rpe-send-letter-service-pr-680

#684 Add repo method for finding letters created on given day
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/LettersFromGivenDaySearchTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/BasicLetterInfo.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepository.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/reports/StaleLetterControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/PendingLettersServiceTest.java
Labels: ns:rpe, rel:rpe-send-letter-service-pr-684

#685 Remove has_failed field from response
  README.md
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/controllers/GetLetterStatusTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/LetterStatus.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterService.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/GetLetterStatusControllerTest.java
Labels: ns:rpe, rel:rpe-send-letter-service-pr-685

#686 Add endpoint for finding all letters from given day
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/reports/LetterListController.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/LetterInfo.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/LettersInfoResponse.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/reports/LetterListControllerTest.java
Labels: ns:rpe, rel:rpe-send-letter-service-pr-686

#687 Add letter type field to list of letters
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/reports/LetterListController.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/LetterInfo.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/reports/LetterListControllerTest.java
Labels: ns:rpe, rel:rpe-send-letter-service-pr-687

#689 Added object id for ithc for vault access
  infrastructure/ithc.tfvars
Labels: ns:rpe, rel:rpe-send-letter-service-pr-689

#694 Added Managed identity for demo
  infrastructure/demo.tfvars
Labels: ns:rpe, rel:rpe-send-letter-service-pr-694

#695 Remove ase deployment for demo
  infrastructure/demo.tfvars
Labels: ns:rpe, rel:rpe-send-letter-service-pr-695
