Repository hmcts/send-letter-service, pull requests merged in 2020-10, with the labels that each got.

#851 Fix for dependency check
  config/owasp/suppressions.xml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-851

#852 DTSBPS-121 Fix dependencies vulnerabilities
  config/owasp/suppressions.xml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-852

#853 DTSBPS-121 Fix dependencies vulnerabilities
  config/owasp/suppressions.xml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-853

#854 Fix up suppressions for new version of Spring Boot
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-854

#860 DTSBPS-170: Reverting the postgresql version as it breaking the build
  build.gradle
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-860

#865 DTSBPS-170: bump postgresql version 42.2.17 from 42.2.14
  build.gradle
  charts/rpe-send-letter-service/Chart.yaml
  charts/rpe-send-letter-service/values.preview.template.yaml
  charts/rpe-send-letter-service/values.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-865

#876 DTSBPS-197: New threadpool for async calls
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/config/AsyncConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/AsyncService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sendletter/services/AsyncServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-876

#872 DTSBPS-4 Throwing errors after maximum retries expire
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/helper/FtpHelper.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ftp/FtpClient.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ftp/RetryOnExceptionStrategy.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sendletter/services/FtpClientTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-872

#882 DTSBPS-208: Handle async save exception to avoid LetterNotFoundException
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sendletter/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterService.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-882

#867 Dtsbp 109 v1
  charts/rpe-send-letter-service/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/FunctionalTestSuite.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageTestForPdfEndpoint.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageTestForPdfEndpointV2Async.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageWithDocumentCountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessSaveV3Asyn.java
  src/functionalTest/resources/hello.pdf
  src/functionalTest/resources/letter-with-document-count_duplicate.json
  src/functionalTest/resources/letter-with-document-count_duplicate_async.json
  src/functionalTest/resources/letter-with-four-pdfs.json
  src/functionalTest/resources/letter-with-three-pdfs.json
  src/functionalTest/resources/one-page-template_duplicate.html
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/controllers/InfoTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/e2e/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/ClearFileContentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/DuplicateLetterTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/LetterTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/LettersCountSummaryRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/LettersFromGivenDaySearchTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/PendingLetterSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceWithEncryptionEnabledTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/sendletter/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterController.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/DuplicateLetter.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/DuplicateRepository.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepository.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/AsyncService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/DuplicateLetterService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ExecusionService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTask.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V018__Handle_duplicate_letters.sql
  src/main/resources/db/migration/V019__Add_unique_index_checksum_status.sql
  src/test/java/uk/gov/hmcts/reform/sendletter/SampleData.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/GetLetterStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/AsyncServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/DuplicateLetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/ExecusionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-867
