Repository hmcts/send-letter-service, pull requests merged in 2020-03, with the labels that each got.

#653 Update information for developer
  README.md
  docker/database/Dockerfile
  docker/database/init-db.sh
  docker/docker-compose-sample.yml
  docker/env.list
  docker/sftp/Dockerfile
  docker/sftp/data/incoming/.gitgnore
  docker/sftp/data/keys/sftp-docker.pub
Labels: ns:rpe, rel:rpe-send-letter-service-pr-653

#663 Update Send letter daily reports csv file title
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DailyLetterUploadSummaryReport.java
Labels: ns:rpe, rel:rpe-send-letter-service-pr-663

#664 Extend README with information useful for onboarding new services
  README.md
Labels: ns:rpe, rel:rpe-send-letter-service-pr-664

#669 Bump shedlock-provider-jdbc-template and shedlock-spring version
  build.gradle
Labels: ns:rpe, rel:rpe-send-letter-service-pr-669

#670 Fix usage of deprecated annotations
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/DeleteOldFilesTask.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/MarkLettersPostedTask.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/StaleLettersTask.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTask.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DailyLetterUploadSummaryReport.java
Labels: ns:rpe, rel:rpe-send-letter-service-pr-670

#674 Package cleanup
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/e2e/BaseTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/reports/PendingLettersController.java
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/reports/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/reports/StaleLetterController.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/alerts/StaleLettersTask.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/reports/PendingLettersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/reports/ReportsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/reports/StaleLetterControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/alerts/StaleLettersTaskTest.java
Labels: ns:rpe, rel:rpe-send-letter-service-pr-674
