Repository hmcts/send-letter-service, pull requests merged in 2020-06, with the labels that each got.

#729 Log bad requests
  src/main/java/uk/gov/hmcts/reform/sendletter/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/errors/FieldError.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/errors/ModelValidationError.java
Labels: ns:rpe, rel:rpe-send-letter-service-pr-729

#739 Rename(c|C)ompile -> (i|I)mplementation
  build.gradle
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-739

#742 Review suppression file
  config/owasp/suppressions.xml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-742

#744 Bump sshd 2.4.0 -> 2.5.0
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/LocalSftpServer.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-744
