Repository hmcts/send-letter-service, pull requests merged in 2020-11, with the labels that each got.

#886 DTSBP-208: Handle async save exception to avoid LetterNotFoundException
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/ExceptionLetterTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceWithEncryptionEnabledTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/ExceptionLetter.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/ExceptionRepository.java
  src/main/java/uk/gov/hmcts/reform/sendletter/exception/LetterSaveException.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/DuplicateLetterService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ExceptionLetterService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ExecusionService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterService.java
  src/main/resources/db/migration/V020__Handle_exception_letters.sql
  src/test/java/uk/gov/hmcts/reform/sendletter/services/ExceptionLetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/ExecusionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-886

#896 DTSBPS-238: Increase DB connection poll size
  src/main/resources/application.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-896

#897 Dtsbps 208 v1: Handle async save exception to avoid LetterNotFoundException
  build.gradle
  src/integrationTest/resources/application.properties
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-897

#895 Dtsbp 63: New stale letter end point to download file in CSV format
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/reports/StaleLetterController.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/StaleLetterService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/util/CsvWriter.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/reports/StaleLetterControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/StaleLetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/util/CsvWriterTest.java
  src/test/resources/stale-letters.json
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-895

#899 DTSBPS-243: Upgrade chart version
  charts/rpe-send-letter-service/Chart.yaml
  charts/rpe-send-letter-service/requirements.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-899

#901 DTSBPS-41: Logging service not found error
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterService.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-901

#907 DTSBPS-34: Alert for Pending Letter
  infrastructure/pending-letter-alert.tf
  src/main/java/uk/gov/hmcts/reform/sendletter/logging/AppInsights.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/alerts/PendingLettersTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sendletter/logging/AppInsightsTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/alerts/PendingLettersTaskTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-907

#908 Bump spring-cloud-starter-netflix-hystrix from 2.2.5.RELEASE to 2.2.6…
  build.gradle
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-908

#909 Dtsbps 34
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/PendingLetterSearchTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepository.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/PendingLettersService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/alerts/PendingLettersTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sendletter/services/PendingLettersServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/alerts/PendingLettersTaskTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-909

#910 DTSBPS-255: Updating create time to date time
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/PendingLetterSearchTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/logging/AppInsights.java
  src/test/java/uk/gov/hmcts/reform/sendletter/logging/AppInsightsTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-910

#916 fix for staging kv secrets and tf fmt
  infrastructure/aat.tfvars
  infrastructure/appinsights.tf
  infrastructure/demo.tfvars
  infrastructure/exception-alert.tf
  infrastructure/is_down_alert.tf
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-916

#918 Reference module as list as using a count now
  infrastructure/main.tf
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-918
