Repository hmcts/send-letter-service, pull requests merged in 2020-09, with the labels that each got.

#808 DTBSP-86: handle exception in DeleteOldFilesTask
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/DeleteOldFilesTaskTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/DeleteOldFilesTask.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/DeleteOldFilesTaskTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-808

#806 DTTSBP-61: In letter status added service additional data
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/controllers/GetLetterStatusTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/letter-with-pdf-additionaldata.json
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterController.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/LetterStatus.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterService.java
  src/test/java/uk/gov/hmcts/reform/sendletter/SampleData.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/GetLetterStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/model/out/LetterStatusTest.java
  src/test/resources/encodedPdfFile.txt
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-806

#762 [DO NOT MERGE] Replace DB secrets
  charts/rpe-send-letter-service/Chart.yaml
  charts/rpe-send-letter-service/values.yaml
  infrastructure/main.tf
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, pinned, prd:rpe, rel:rpe-send-letter-service-pr-762

#819 Create new staging dbs v11
  infrastructure/main.tf
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-819

#821 Remove unused KV entries
  charts/rpe-send-letter-service/Chart.yaml
  charts/rpe-send-letter-service/values.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-821

#824 Dtsbp 83
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/PendingLetterSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/Letter.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/LetterStatus.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterService.java
  src/main/resources/db/migration/V016__Returning_number_of_copies_requested.sql
  src/test/java/uk/gov/hmcts/reform/sendletter/SampleData.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/GetLetterStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/model/out/LetterStatusTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/zip/FinalPackageFileNameHelperTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
  src/test/resources/encodedPdfFile2.txt
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-824

#828 DTSBP-83: Returning number of copies requested
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/Letter.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-828

#827 DTSBP-97 Upgrade terraform azurerm provider
  charts/rpe-send-letter-service/Chart.yaml
  infrastructure/.terraform-version
  infrastructure/appinsights.tf
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
  infrastructure/versions.tf
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-827

#832 Fix for application_type var in app insights resource
  infrastructure/appinsights.tf
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-832

#835 fixes infra wrt webapp module tech debt
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-835

#838 DTSBP-83: Fix for Quoted type constraints are deprecated
  infrastructure/alert_action_group.tf
  infrastructure/exception-alert.tf
  infrastructure/is_down_alert.tf
  infrastructure/liveness-alert.tf
  infrastructure/stale-letter-alert.tf
  infrastructure/variables.tf
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-838

#840 Dtsbp 105 npe on send letter getstatus call
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/LetterStatus.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-840

#841 Update owasp gradle plugin
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-841

#834 Dtsbp 84
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/FunctionalTestSuite.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageTestForPdfEndpoint.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageTestForPdfEndpointV2Async.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageWithDocumentCountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessSaveV3Asyn.java
  src/functionalTest/resources/letter-with-ten-pdfs.json
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/controllers/GetLetterStatusTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceWithEncryptionEnabledTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/Application.java
  src/main/java/uk/gov/hmcts/reform/sendletter/config/AsyncConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterController.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/AsyncService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterService.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/GetLetterStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/SendLetterControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/SendLetterWithPdfsAndCopiesControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/SendLetterWithPdfsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/AsyncServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-834

#842 DTSBPS-21 Bump sshj from 0.29.0 to 0.30.0
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-842

#844 DTSBPS-2 Add index to checksum column in db
  src/main/resources/db/migration/V017__Add_index_to_checksum_column.sql
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-844
