Repository hmcts/send-letter-service, pull requests merged in 2021-03, with the labels that each got.

#1000 Lib upgrade
  build.gradle
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1000

#1001 removed branch ref azurermv2
  infrastructure/main.tf
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1001

#1004 Upgrade terrform version 2.49.0
  build.gradle
  infrastructure/main.tf
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1004

#1005 DTSBPS-399: Fixing FTP client failure
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ftp/FtpClient.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/FtpClientTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1005

#1006 Dtsbps 399
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/helper/FtpHelper.java
  src/main/java/uk/gov/hmcts/reform/sendletter/config/RetryConfig.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ftp/FtpClient.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ftp/RetryOnExceptionStrategy.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/FtpClientTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1006

#1013 Prevent pending and stale letter alert to executed more than once
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/alerts/PendingLettersTask.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/alerts/StaleLettersTask.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1013

#1016 Dtsbps 403
  src/main/java/uk/gov/hmcts/reform/sendletter/services/pdf/DuplexPreparator.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/pdf/PdfCreator.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1016

#1018 DTSBPS-377: replace circuitBreaker Annotation with EnableHystrix
  src/main/java/uk/gov/hmcts/reform/sendletter/Application.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1018

#1019 DTSBPS-257 Prevent pending and stale letter alert to executed more th…
  infrastructure/pending-letter-alert.tf
  infrastructure/stale-letter-alert.tf
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1019

#1020 DTSBPS-408: Preventing load of byte array for report
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/DelayPostSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/StaleLetterSearchTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepository.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/DelayedPrintService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/StaleLetterService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/pdf/PdfCreator.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DelayAndStaleReport.java
  src/main/java/uk/gov/hmcts/reform/sendletter/util/CsvWriter.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/DelayedPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/util/CsvWriterTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1020

#1023 Dtsbps 408
  src/main/java/uk/gov/hmcts/reform/sendletter/services/DelayedPrintService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DelayAndStaleReport.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/DelayedPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DelayAndStaleReportTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1023

#1024 Dtsbps 408
  src/main/java/uk/gov/hmcts/reform/sendletter/services/DelayedPrintService.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1024

#1026 DTSBPS-420: bump libraries
  build.gradle
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1026

#1030 DTSBPS-448: Springboot configtree setup
  build.gradle
  charts/rpe-send-letter-service/Chart.yaml
  charts/rpe-send-letter-service/values.aat.template.yaml
  charts/rpe-send-letter-service/values.preview.template.yaml
  charts/rpe-send-letter-service/values.yaml
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterService.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1030

#1036 DTSBPS-448: Springboot configtree setup
  charts/rpe-send-letter-service/Chart.yaml
  charts/rpe-send-letter-service/values.aat.template.yaml
  charts/rpe-send-letter-service/values.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1036

#1037 DTSBPS-448: Springboot configtree setup
  charts/rpe-send-letter-service/Chart.yaml
  charts/rpe-send-letter-service/values.aat.template.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1037

#1044 DTSBPS-453: pdfbox vulnerabilities
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1044

#1048 DTSBPS-426: New BP Storage Account
  infrastructure/aat.tfvars
  infrastructure/data.tf
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/provider.tf
  infrastructure/storage-account.tf
  infrastructure/variables.tf
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1048
