Repository hmcts/send-letter-service, pull requests merged in 2021-04, with the labels that each got.

#1051 DTSBPS-467: bump lib
  build.gradle
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1051

#1065 Adds MI to create SAS for blob store and read/write to blob store itself
  build.gradle
  config/owasp/suppressions.xml
  infrastructure/aat.tfvars
  infrastructure/data.tf
  infrastructure/main.tf
  infrastructure/provider.tf
  infrastructure/storage-account.tf
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1065

#1067 Adds a log message to discover who is still using the v1 api request
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterService.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1067

#1069 Grant keda MI read access to the SA blobs
  infrastructure/data.tf
  infrastructure/storage-account.tf
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1069

#1073 DTSBPS-514: Fix Security Application Issues Raised by Fortify
  src/main/java/uk/gov/hmcts/reform/sendletter/util/CsvWriter.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1073

#1072 DTSBPS-427: Print job models
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/PrintStatus.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/Document.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/PrintRequest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/PrintJob.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/PrintResponse.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/PrintUploadInfo.java
  src/test/java/uk/gov/hmcts/reform/sendletter/model/in/print/PrintRequestTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/model/out/PrintResponseTest.java
  src/test/resources/print_job.json
  src/test/resources/print_job_response.json
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1072
