Repository hmcts/send-letter-service, pull requests merged in 2021-05, with the labels that each got.

#1078 Fix common-io vulnerabilities and bump libs
  build.gradle
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1078

#1075 DTSBPS-427: Print table
  src/main/resources/db/migration/V023__Add_print_table.sql
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1075

#1079 DTSBPS-427: Print entity and repo
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/PrintRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/Print.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/PrintRepository.java
  src/test/java/uk/gov/hmcts/reform/sendletter/SampleData.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1079

#1087 Adds 'new' containers for each service
  infrastructure/storage-account.tf
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1087

#1088 Index container names with their name instead of index in tf state file
  infrastructure/storage-account.tf
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1088

#1089 remove all containers temporarily
  infrastructure/storage-account.tf
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1089

#1098 DTSBPS-529: Print controller integration with service
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/controllers/PrintControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/PrintServiceTest.java
  src/integrationTest/resources/print_job_type_documents_missing.json
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/ControllerResponseMessage.java
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/MediaTypes.java
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/PrintLetterController.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/Document.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/PrintRequest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/PrintService.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/PrintLetterControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/PrintServiceTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1098

#1102 DTSBPS-529: Print controller integration with service
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/controllers/PrintControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/PrintRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/PrintServiceTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1102

#1103 Dtsbps 529 v4
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/PrintRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/PrintServiceTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1103

#1105 DTSBPS-577: Print service integration with blob container
  build.gradle
  charts/rpe-send-letter-service/Chart.yaml
  charts/rpe-send-letter-service/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/controllers/PrintControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/PrintServiceTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/sendletter/config/AccessTokenProperties.java
  src/main/java/uk/gov/hmcts/reform/sendletter/config/StorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sendletter/exception/UnableToGenerateSasTokenException.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/PrintJob.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/PrintService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/SasTokenGeneratorService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sendletter/model/out/PrintResponseTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/PrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/SasTokenGeneratorServiceTest.java
  src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  src/test/resources/print_job_response.json
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1105

#1108 DTSBPS-586: Updates to integration and functional test
  infrastructure/storage-account.tf
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/PrintServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/util/TestStorageHelper.java
  src/integrationTest/resources/docker/docker-compose.yml
  src/main/resources/application.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1108

#1110 DTSBPS-586: Functional test and relevant changes
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/FunctionalTestSuite.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/PrintMessageTest.java
  src/functionalTest/resources/print_job_case_id_dynamic.json
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/controllers/PrintControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/PrintServiceTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/PrintLetterController.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/Document.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/PrintRequest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/PrintJob.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/PrintResponse.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/PrintUploadInfo.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/PrintService.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/PrintLetterControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/model/out/PrintResponseTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/PrintServiceTest.java
  src/test/resources/print_job_response.json
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1110

#1113 Define the missing keys to be injected in the aat chart
  charts/rpe-send-letter-service/values.aat.template.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1113

#1114 This default value references a non-existent SA
  src/main/resources/application.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1114

#1117 Remove travis and codecov integration
  .travis.yml
  README.md
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1117
