Repository hmcts/send-letter-service, pull requests merged in 2022-03, with the labels that each got.

#1422 Fix NFD folder configuration (DTSBPS-876)
  src/main/resources/application.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1422

#1421 bump-java-chart
  charts/rpe-send-letter-service/Chart.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1421

#1424 bump java chart
  charts/rpe-send-letter-service/Chart.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1424

#1426 Add containers for preview to connect to
  infrastructure/storage-account.tf
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1426

#1431 swap to new preview subnets
  infrastructure/preview_vnet.tf
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1431

#1437 Added logs
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/PrintService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/pdf/DuplexPreparator.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1437

#1445 Suppress vulnerability
  config/owasp/suppressions.xml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1445

#1450 upgrade azurerm to fix master pipeline
  infrastructure/exception-alert.tf
  infrastructure/is_down_alert.tf
  infrastructure/liveness-alert.tf
  infrastructure/pending-letter-alert.tf
  infrastructure/stale-letter-alert.tf
  infrastructure/state.tf
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1450
