Repository hmcts/send-letter-service, pull requests merged in 2022-06, with the labels that each got.

#1549 Fix CVE 2022 22976
  config/owasp/suppressions.xml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1549

#1558 Fix CVE 2022 22978
  build.gradle
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1558

#1559 DTSBPS-964: Status change repo
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepository.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterStatus.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1559

#1564 DTSBPS-964: Stale envelopes - service
  src/main/java/uk/gov/hmcts/reform/sendletter/exception/LetterNotStaleException.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/StaleLetterService.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/StaleLetterServiceTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1564

#1571 DTSBPS-964: Added api-key secret
  charts/rpe-send-letter-service/Chart.yaml
  charts/rpe-send-letter-service/values.aat.template.yaml
  charts/rpe-send-letter-service/values.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1571

#1572 DTSBPS-964: Status change controller
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/sendletter/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/ActionController.java
  src/main/java/uk/gov/hmcts/reform/sendletter/exception/InvalidApiKeyException.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/ActionControllerTest.java
  src/test/resources/application.properties
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1572

#1580 DTSBPS-986: Add service method to update letter status to Created
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepository.java
  src/main/java/uk/gov/hmcts/reform/sendletter/exception/LetterNotStaleException.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/StaleLetterService.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/StaleLetterServiceTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1580

#1581 Add endpoint to mark letter as Created (DTSBPS-986)
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/ActionController.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/ActionControllerTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1581

#1579 DTSBPS-992: Create table letter_events
  src/main/resources/db/migration/V024__Add_letter_events_table.sql
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1579

#1589 Used dummy api key in docker-compose
  docker-compose.yml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1589

#1591 DTSBPS-992: Audit repo
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/LetterEventRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/EventType.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterEvent.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterEventRepository.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1591

#1592 DTSBPS-992: Call to LetterEventRepository from service layer
  src/main/java/uk/gov/hmcts/reform/sendletter/services/StaleLetterService.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/StaleLetterServiceTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1592

#1597 Update stale letters reports cron (DTSBPS-989)
  src/main/resources/application.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1597

#1599 Suppress CVE-2022-34305
  config/owasp/suppressions.xml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1599

#1596 Add repository method to update letter status to Aborted (DTSBPS-995)
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepository.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1596

#1600 Add service changes to abort letter processing (DTSBPS-995)
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/EventType.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterActionService.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/LetterActionServiceTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1600
