Repository hmcts/send-letter-service, pull requests merged in 2022-08, with the labels that each got.

#1666 DTSBPS-1029: Add events
  src/contractTest/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterProviderConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceWithEncryptionEnabledTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/LetterStatus.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/LetterStatusEvent.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/v2/LetterStatusV2.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterService.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/GetLetterStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/model/out/LetterStatusTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/model/out/v2/LetterStatusV2Test.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1666

#1670 Revert "DTSBPS-1029: Add events"
  src/contractTest/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterProviderConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceWithEncryptionEnabledTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/LetterStatus.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/LetterStatusEvent.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/v2/LetterStatusV2.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterService.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/GetLetterStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/model/out/LetterStatusTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/model/out/v2/LetterStatusV2Test.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1670

#1669 Get files list from FTP folders (DTSBPS-1023)
  src/main/java/uk/gov/hmcts/reform/sendletter/services/FtpFileService.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/FtpFileServiceTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1669

#1674 Write FTP uploaded letters to CSV files (DTSBPS-1023)
  src/main/java/uk/gov/hmcts/reform/sendletter/util/CsvWriter.java
  src/test/java/uk/gov/hmcts/reform/sendletter/util/CsvWriterTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1674

#1677 Write FTP files summary to csv files (DTSBPS-1023)
  src/main/java/uk/gov/hmcts/reform/sendletter/services/FtpFileSummaryService.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/FtpFileServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/FtpFileSummaryServiceTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1677

#1678 Generate Ftp files summary report (DTSBPS-1023)
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DailyFtpFileUploadSummaryReport.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DelayAndStaleReport.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DailyFtpFileUploadSummaryReportTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1678

#1681 Configure for FTP uploaded files summary daily report (DTSBPS-1023)
  charts/rpe-send-letter-service/Chart.yaml
  charts/rpe-send-letter-service/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DailyFtpLetterUploadSummaryReportDisabledByComponentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DailyFtpLetterUploadSummaryReportDisabledTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DailyFtpLetterUploadSummaryReportTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DailyFtpLetterUploadSummaryReport.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DailyFtpLetterUploadSummaryReportTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1681

#1675 DTSBPS-1029: Add events to report
  src/contractTest/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterProviderConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceWithEncryptionEnabledTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterController.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/ExtendedLetterStatus.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/LetterStatusEvent.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterService.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/GetLetterStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1675

#1686 Update letter status as PostedLocally (DTSBPS-1036)
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/EventType.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepository.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterStatus.java
  src/main/java/uk/gov/hmcts/reform/sendletter/exception/UnableToMarkLetterPostedLocallyException.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterActionService.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/LetterActionServiceTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1686

#1688 controller for marking letters as posted locally (DTSBPS-1036)
  src/main/java/uk/gov/hmcts/reform/sendletter/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/ActionController.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/ActionControllerTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1688

#1692 Fix stale letters query (DTSBPS-1041)
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepository.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1692

#1636 DTSPO-5822 - ZRS Migration - Prod
  infrastructure/prod.tfvars
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1636, add-or-update

#1725 Suppress CVE-2022-29885
  config/owasp/suppressions.xml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1725

#1726 Add finrem_case_orchestration service (DTSBPS-1057)
  src/main/resources/application.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1726

#1727 Add backstage configuration file
  catalog-info.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1727

#1736 Add logs and error message to the exception (DTSBPS-1054)
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterWithPdfTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/PdfCreatorTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/sendletter/exception/DuplexException.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/pdf/DuplexPreparator.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/pdf/PdfCreator.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/pdf/PdfMerger.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/DuplexPreparatorTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/PdfCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/PdfMergerTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1736

#1716 Handle FTP upload failures (DTSBPS-1043)
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/e2e/FailingUploadTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ftp/FtpClient.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTask.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1716
