Repository hmcts/send-letter-service, pull requests merged in 2022-07, with the labels that each got.

#1601 Endpoint to abort letter (DTSBPS-995)
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/ActionController.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/ActionControllerTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1601

#1605 Return 'Bad request' when letter is posted (DTSBPS-995)
  src/main/java/uk/gov/hmcts/reform/sendletter/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/sendletter/exception/UnableToAbortLetterException.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterActionService.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/ActionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/LetterActionServiceTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1605

#1618 Exclude letters with status 'NotSent' in stale letters (DTSBPS-1004)
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepository.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1618

#1620 Fix stale letters report and cleanup delayed letters (DTSBPS-1009)
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/DelayPostSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/StaleLetterSearchTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/DelayedPrintService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/StaleLetterService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DelayAndStaleReport.java
  src/main/java/uk/gov/hmcts/reform/sendletter/util/CsvWriter.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/DelayedPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DelayAndStaleReportTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1620

#1632 Suppress CVE-2022-31569
  config/owasp/suppressions.xml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1632

#1635 Suppress CVE-2016-1000027
  config/owasp/suppressions.xml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1635

#1609 DTSBPS-1000: LetterEventService
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/e2e/FailingUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
  src/integrationTest/resources/letter-with-pdf0.json
  src/integrationTest/resources/letter-with-pdf1.json
  src/integrationTest/resources/letter-with-pdf2.json
  src/integrationTest/resources/letter-with-pdf3.json
  src/integrationTest/resources/letter-with-pdf4.json
  src/integrationTest/resources/letter0.json
  src/integrationTest/resources/letter1.json
  src/integrationTest/resources/letter2.json
  src/integrationTest/resources/letter3.json
  src/integrationTest/resources/letter4.json
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/EventType.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterStatus.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterEventService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTask.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/LetterEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1609

#1633 Bump java version
  charts/rpe-send-letter-service/Chart.yaml
  charts/rpe-send-letter-service/values.preview.template.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1633

#1655 Re-process letters failed to upload to FTP server (DTSBPS-1024)
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepository.java
  src/main/java/uk/gov/hmcts/reform/sendletter/exception/UnableToReprocessLetterException.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterActionService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/StaleLetterService.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/LetterActionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/StaleLetterServiceTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1655

#1656 Reprocess letters controller changes (DTSBPS-1024)
  src/main/java/uk/gov/hmcts/reform/sendletter/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/ActionController.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/ActionControllerTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1656

#1660 Fix repository method to include FailedToUpload status (DTSBPS-1024)
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterRepository.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1660

#1659 DTSBPS-1026: Added size to log
  src/main/java/uk/gov/hmcts/reform/sendletter/services/ftp/FtpClient.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-1659
