Repository hmcts/send-letter-service, pull requests merged in 2023-08, with the labels that each got.

#2396 FACT-1436 added launchdarkly to send-letter-service
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
  charts/rpe-send-letter-service/Chart.yaml
  charts/rpe-send-letter-service/values.aat.template.yaml
  charts/rpe-send-letter-service/values.yaml
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/FeatureFlagController.java
  src/main/java/uk/gov/hmcts/reform/sendletter/launchdarkly/Flags.java
  src/main/java/uk/gov/hmcts/reform/sendletter/launchdarkly/LaunchDarklyClient.java
  src/main/java/uk/gov/hmcts/reform/sendletter/launchdarkly/LaunchDarklyClientFactory.java
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/sendletter/controllers/SmokeTestLaunchDarkly.java
  src/smokeTest/resources/application-localdev.properties
  src/smokeTest/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/sendletter/launchdarkly/LaunchDarklyClientFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/launchdarkly/LaunchDarklyClientTest.java
Labels: ns:rpe, prd:rpe, add-or-update, rel:rpe-send-letter-service-pr-2396

#2399 removed aat chart values for FACT-1436
  charts/rpe-send-letter-service/values.aat.template.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/sendletter/controllers/SmokeTestLaunchDarkly.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2399

#2402 adding to pact test
  src/contractTest/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterProviderConfiguration.java
  src/contractTest/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterProviderTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2402

#2403 Pact tests
  Jenkinsfile_CNP
  src/contractTest/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterProviderConfiguration.java
  src/contractTest/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterProviderTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/launchdarkly/LaunchDarklyClient.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/RecipientsValidator.java
  src/test/java/uk/gov/hmcts/reform/sendletter/model/out/v2/LetterStatusV2Test.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2403
