Repository hmcts/send-letter-service, pull requests merged in 2023-04, with the labels that each got.

#2231 Revert "Update Terraform azurerm to ~> 3.51.0"
  infrastructure/state.tf
Labels: ns:rpe, prd:rpe, add-or-update, rel:rpe-send-letter-service-pr-2231

#2232 DTSBPS-1322 fixing pact test
  src/contractTest/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterProviderTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2232

#2237 FACT-1317: Fix Pact tests
  src/contractTest/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterProviderTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2237

#2240 FACT-1317: Update Pact test configuration
  src/contractTest/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterProviderConfiguration.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2240

#2243 FACT-1317: Enable functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/PrintMessageTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageTestForPdfEndpoint.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageTestForPdfEndpointV2Async.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageWithDocumentCountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessSaveV3Asyn.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2243

#2249 Fact 1362
  .env
  .gitignore
  README.md
  build.gradle
  charts/rpe-send-letter-service/Chart.yaml
  charts/rpe-send-letter-service/values.yaml
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/FunctionalTestSuite.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageTestForPdfEndpoint.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageTestForPdfEndpointV2Async.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageWithDocumentCountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessSaveV3Asyn.java
  src/functionalTest/resources/letter-with-document-count-1.json
  src/functionalTest/resources/letter-with-document-count-2.json
  src/functionalTest/resources/letter-with-document-count-3.json
  src/functionalTest/resources/letter-with-document-count-4.json
  src/functionalTest/resources/letter-with-document-count-5.json
  src/functionalTest/resources/letter-with-document-count_duplicate.json
  src/functionalTest/resources/letter-with-document-count_duplicate_async-1.json
  src/functionalTest/resources/letter-with-document-count_duplicate_async.json
  src/functionalTest/resources/letter-with-four-pdfs.json
  src/functionalTest/resources/letter-with-single-pdf-1.json
  src/functionalTest/resources/letter-with-single-pdf-2.json
  src/functionalTest/resources/letter-with-three-pdfs-1.json
  src/functionalTest/resources/letter-with-three-pdfs-2.json
  src/functionalTest/resources/letter-with-three-pdfs-3.json
  src/functionalTest/resources/letter_single_document_duplicate.json
  src/functionalTest/resources/print_job_case_id_dynamic.json
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/controllers/GetLetterStatusTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/entity/DocumentRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/letter-with-pdf-and-recipients-duplicate.json
  src/integrationTest/resources/letter-with-pdf-and-recipients.json
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterController.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/Document.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/DocumentRepository.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/InMemoryDownloadedFile.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/DocumentService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterService.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V027__Alter_documents_table_recipients_checksum.sql
  src/test/java/uk/gov/hmcts/reform/sendletter/SampleData.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/DocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2249
