Repository hmcts/send-letter-service, pull requests merged in 2024-11, with the labels that each got.

#2649 FACT-2035 remove launchdarkly from send letter service [DO NOT MERGE]
  src/contractTest/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterProviderConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/controllers/GetLetterStatusTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceWithEncryptionEnabledTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/launchdarkly/Flags.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/RecipientsValidator.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterChecksumService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTask.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/SendLetterControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/SendLetterWithPdfsAndCopiesControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/controllers/sendlettercontroller/SendLetterWithPdfsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/DocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/LetterChecksumServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/LetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2649

#2645 update LaunchDarkly to version 7.5.0
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sendletter/launchdarkly/LaunchDarklyClient.java
  src/test/java/uk/gov/hmcts/reform/sendletter/launchdarkly/LaunchDarklyClientTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2645

#2652 FACT-2011 - OOM fix
  src/main/resources/application.properties
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2652

#2653 FACT-2035 added back in bit for fixing pact tests
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/RecipientsValidator.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2653

#2656 removes pact test on step from master jenkins pipeline
  Jenkinsfile_CNP
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2656

#2651 update packages
  build.gradle
  infrastructure/.terraform-version
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/FunctionalTestSuite.java
  src/integrationTest/resources/docker/docker-compose.yml
Labels: ns:rpe, prd:rpe, aat/add-or-update, prod/add-or-update, rel:rpe-send-letter-service-pr-2651
