Repository hmcts/send-letter-service, pull requests merged in 2024-06, with the labels that each got.

#2534 FACT-1792 - open API
  .github/workflows/publish-openapi.yaml
  .github/workflows/swagger.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/ApplicationTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2534

#2557 FACT-1674 - Makes Updates to Readme
  README.md
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2557

#2558 FACT-1831 CVE fixes
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2558

#2559 FACT-1766 bump flyway and postgresql
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sendletter/config/FlywayConfiguration.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2559
