Repository hmcts/send-letter-service, pull requests merged in 2024-09, with the labels that each got.

#2608 FACT-1975 - CVE Updates Sept
  build.gradle
  charts/rpe-send-letter-service/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2608

#2607 Update Jenkinsfile_nightly
  Jenkinsfile_nightly
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2607

#2616 FACT-1660 Removed unused alerts
  infrastructure/alert_action_group.tf
  infrastructure/exception-alert.tf
  infrastructure/is_down_alert.tf
  infrastructure/liveness-alert.tf
  infrastructure/pending-letter-alert.tf
  infrastructure/stale-letter-alert.tf
Labels: ns:rpe, prd:rpe, aat/destroy, prod/destroy, rel:rpe-send-letter-service-pr-2616
