Repository hmcts/send-letter-service, pull requests merged in 2024-01, with the labels that each got.

#2463 DTSPO-15909 - migrated Application Insights
  .gitignore
  infrastructure/appinsights.tf
  infrastructure/exception-alert.tf
  infrastructure/is_down_alert.tf
  infrastructure/liveness-alert.tf
  infrastructure/main.tf
  infrastructure/pending-letter-alert.tf
  infrastructure/stale-letter-alert.tf
Labels: ns:rpe, prd:rpe, add-or-update, rel:rpe-send-letter-service-pr-2463

#2464 Add support for international letters
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTask.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2464

#2466 FACT-1593 Adding international postage support (w/ feature flagging) [DO NOT MERGE]
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/launchdarkly/Flags.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTask.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
Labels: DO NOT MERGE, ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2466
