Repository hmcts/send-letter-service, pull requests merged in 2024-02, with the labels that each got.

#2467 FACT-1593 'international' folder is meant to be 'International'
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTask.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2467

#2468 Renovate updates
  Dockerfile
  build.gradle
  docker/database/Dockerfile
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2468

#2469 FACT-1619 adding more logs to get more info on demo issue
  charts/rpe-send-letter-service/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTask.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2469

#2477 FACT-1394 update KV to support bulk scan MI
  infrastructure/main.tf
Labels: ns:rpe, prd:rpe, add-or-update, rel:rpe-send-letter-service-pr-2477
