Repository hmcts/send-letter-service, pull requests merged in 2024-07, with the labels that each got.

#2560 FACT-1838 update to use temp db
  build.gradle
  charts/rpe-send-letter-service/values.aat.template.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2560

#2561 FACT-1838 Delete Stg DB
  infrastructure/aat.tfvars
  infrastructure/tf-db-flexible-secrets.tf
  infrastructure/tf-db-flexible.tf
  infrastructure/variables.tf
Labels: ns:rpe, prd:rpe, aat/destroy, prod/add-or-update, rel:rpe-send-letter-service-pr-2561

#2568 FACT-1881 change images to imported ones
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  README.md
  docker/database/Dockerfile
  docker/sftp/Dockerfile
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/util/TestUploadStorageHelper.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2568

#2574 FACT-1869 clean up infra
  charts/rpe-send-letter-service/values.aat.template.yaml
  infrastructure/aat.tfvars
  infrastructure/data.tf
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/perftest.tfvars
  infrastructure/perftest_mgmt_subnet.tf
  infrastructure/preview_vnet.tf
  infrastructure/prod.tfvars
  infrastructure/storage-account.tf
  infrastructure/tf-db-flexible-secrets.tf
  infrastructure/tf-db-flexible.tf
  infrastructure/variables.tf
Labels: ns:rpe, prd:rpe, aat/destroy, prod/destroy, rel:rpe-send-letter-service-pr-2574
