Repository hmcts/send-letter-service, pull requests merged in 2024-04, with the labels that each got.

#2486 Fact 1584 - Send Letter Service - Upgrade to Spring Boot 3
  build.gradle
  charts/rpe-send-letter-service/Chart.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/FunctionalTestSuite.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageTestForPdfEndpoint.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageTestForPdfEndpointV2Async.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageWithDocumentCountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessSaveV3Asyn.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/ApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/controllers/GetLetterStatusTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/controllers/InfoTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/controllers/LettersCountReportTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterWithPdfTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/e2e/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/e2e/FailingUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/e2e/LetterUploadForDisabledServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/ClearOldLetterContentTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/MarkLettersPostedTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/UploadLettersTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DailyFtpLetterUploadSummaryReportTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DailyLetterUploadSummaryReportTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/sendletter/config/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sendletter/config/ThreadPoolConfig.java
  src/main/java/uk/gov/hmcts/reform/sendletter/config/TracingConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sendletter/controllers/SendLetterController.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/Document.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/DuplicateLetter.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/ExceptionLetter.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/Letter.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/LetterEvent.java
  src/main/java/uk/gov/hmcts/reform/sendletter/entity/Print.java
  src/main/java/uk/gov/hmcts/reform/sendletter/logging/AppInsights.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/Document.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/Doc.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/Document.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/LetterRequest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/LetterWithPdfsAndNumberOfCopiesRequest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/LetterWithPdfsRequest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/PrintRequest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/RecipientsValidator.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/ValidRecipients.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/out/PrintJob.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterChecksumService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/LetterService.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/pdf/DuplexPreparator.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/pdf/PdfCreator.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/pdf/PdfMerger.java
  src/main/java/uk/gov/hmcts/reform/sendletter/tasks/reports/EmailSender.java
  src/test/java/uk/gov/hmcts/reform/sendletter/PdfHelper.java
  src/test/java/uk/gov/hmcts/reform/sendletter/logging/AppInsightsTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/DuplexPreparatorTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/PdfCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/PdfMergerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DailyFtpLetterUploadSummaryReportTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DailyLetterUploadSummaryReportTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/reports/DelayAndStaleReportTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/tasks/reports/EmailSenderTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2486, aat/destroy, plan-on-prod

#2516 FACT-1663 Remove Single Server
  infrastructure/main.tf
  infrastructure/tf-db-flexible-secrets.tf
  infrastructure/tf-db-flexible.tf
Labels: ns:rpe, prd:rpe, aat/destroy, plan-on-prod, prod/destroy, rel:rpe-send-letter-service-pr-2516

#2518 FACT-1663 Switches chart values to correct ones
  charts/rpe-send-letter-service/Chart.yaml
  charts/rpe-send-letter-service/values.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2518

#2511 FACT-1366 improve func test times
  README.md
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/FunctionalTestSuite.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageTestForPdfEndpoint.java
  src/functionalTest/java/uk/gov/hmcts/reform/sendletter/ProcessMessageTestForPdfEndpointV2Async.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2511

#2524 FACT-1720
  Dockerfile
  charts/rpe-send-letter-service/Chart.yaml
  charts/rpe-send-letter-service/values.yaml
  lib/applicationinsights.json
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-pr-2524

#2526 Removed unneeded config
  infrastructure/tf-db-flexible.tf
Labels: ns:rpe, prd:rpe, plan-on-prod, aat/add-or-update, prod/add-or-update, rel:rpe-send-letter-service-pr-2526

#2517 FACT-1663 Removes unused secrets
  infrastructure/tf-db-flexible-secrets.tf
Labels: ns:rpe, prd:rpe, aat/destroy, plan-on-prod, prod/destroy, rel:rpe-send-letter-service-pr-2517
